.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;

    .left {
      .logo {
        width: 120px;
        height: 40px;
        background: #d9d9d9;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .user {
        color: #fff;
        padding: 0 6px;

        .user-avatar {
          margin-right: 6px;
        }
      }
    }
  }

  .container {
    .sider {
      .search-menu {
        padding: 16px;
      }

      .menu {
        height: 100%;
        border-right: 0;
      }
    }
  }

}


